---
import { ClientRouter } from "astro:transitions";
import ResponsiveFontSize from "../components/ResponsiveFontSize.astro";
import "../styles/colors.css";
import "../styles/fonts.css";
import "../styles/scrollbar.css";
import "../styles/utility.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const tabTitle = title ?? "YueZone";
---

<!doctype html>
<html lang="zh" class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{tabTitle}</title>
    <ClientRouter />
    <ResponsiveFontSize />
  </head>
  <body class="w-full h-full text-white bg-black m-0 overflow-hidden">
    <slot />
  </body>
</html>
